body{
    background-image: url('/Assets/BeachResort.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 51vw;
}

.header{
    width: 100vw;
    height: 80px;
    margin-top: -9px;
    margin-left: -9px;
    background-color: #00a2ff;
}

h1{
    position: absolute;
    font-family: Montserrat;
    font-size: 40px;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 670px;
}

.header img{
    width: 100px;
    position: absolute;
    margin-top: -11px;
    margin-left: 550px;
}

.container{
    width: 500px;
    height: 450px;
    background-color: #ffffff;
    opacity: 80%;
    border-radius: 20px;
    position: absolute;
    margin-top: 8vw;
    margin-left: 34vw;
}

h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 215px;
}

.tabelupdate{
    width: 400px;
    height: 300px;
    margin-left: 50px;
    margin-top: -30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.tabelupdate label{
    display: block;
    padding: 25px;
    margin-left: -22px;
    font-weight: 400;
}

.tabelupdate input{
    width: 90%;
    height: 13%;
    margin-top: -25px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
}

.tombol{
    height: 50px;
    width: 300px;
    background-color: #00EAFF;
    position: absolute;
    margin-left: 90px;
    margin-top: -60px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.tombol1{
    height: 50px;
    width: 300px;
    background-color: #00EAFF;
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 10px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 125px;
    color: black;
}

.gambarhome img{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-top: 15px;
}